{% macro render_field(field) %}
  <div id="{{ field.id }}_row" class="form-group">
    {% set label_class='col-lg-2 col-md-2 col-sm-2 control-label' %}
    {% set field_class='col-lg-10 col-md-10 col-sm-10' %}
    {{ field.label(class=label_class) }}
    <div class="{{ field_class }}">
       {{ field(class_="form-control", placeholder=field.label.text)|safe|replace('*','') }}
    </div>
  </div>
{% endmacro %}
{% macro render_form(form) %}
  {% for field in form %}
    <div class="form-group">
      <div id="{{ field.id }}_error" class="error col-lg-offset-2 col-lg-10">
      {% if form.errors and field.id in form.errors %}
        {{ '<br>'.join(form.errors[field.id]) }}
      {% endif %}
      </div>
    </div>
    {{ render_field(field) }}
  {% endfor %}
{% endmacro %}